@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

  background-color: $light-color;
  color: $dark-color;
}




// font 
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}



//navbar
.navbar {
  height: 80px;
  background-color: $green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  color: $light-color;

  a {
    text-decoration: none;
    background-color: transparent;
    color: $light-color;
  }

  #logo {
    background-color: transparent;
    height: 70px;
    img{
      background-color: transparent;
      height: 70px;
    }
  }
  
}